<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-icon name="home" slot="start"></ion-icon>
    <ion-title>CadImobiliaria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="form">

    <ion-item>
      <ion-label position="floating">Nome*</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Endereço*</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Cidade*</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Bairro*</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Fone*</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Site*</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
  
    <ion-button expand="block" type="submit">Cadastrar</ion-button>
  </div>

</ion-content>
