ion-title{
    text-align: center;
}
ion-button{
    margin-top: 20px;
}

ion-item{
    padding-bottom: 10px;
}

ion-toolbar{
    position: relative;
}

ion-icon{
    position: absolute;
    right: 300px;
}

#form{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}