<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>CadImovel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="form">

  <ion-grid>
    <ion-row>
      <ion-col id="coluna1">
        <ion-item>
          <ion-label position="floating">Endereço</ion-label>
          <ion-input></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Bairro</ion-label>
          <ion-input></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Cep</ion-label>
          <ion-input></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Cidade</ion-label>
          <ion-input></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Uf</ion-label>
          <ion-input type="text" maxlength="2" id="uf"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">qtdQuartos</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">qtdSalas</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col id="coluna2">
        <ion-item>
          <ion-label position="floating">qtdCozinhas</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">andares</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Complemento</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">valorVenal</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">valorLocação</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">qtdBanheiros</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Situação</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group value="isLocavel">
            <ion-list-header>
              <ion-label>Pode ser Alugado?</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Sim</ion-label>
              <ion-radio slot="start"></ion-radio>
          
              <ion-label slot="end">Não</ion-label>
              <ion-radio slot="end"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
      
      <ion-col>
        <ion-list>
          <ion-radio-group value="isVenal">
            <ion-list-header>
              <ion-label>Pode ser Vendido?</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Sim</ion-label>
              <ion-radio slot="start"></ion-radio>
          
              <ion-label slot="end">Não</ion-label>
              <ion-radio slot="end"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button expand="block">CADASTRAR</ion-button>

  </div>
</ion-content>
