ion-title{
    text-align: center;
}

#coluna1 > ion-item{
    padding-bottom: 10px;
}

#coluna2 > ion-item{
    padding-bottom: 10px;
}

ion-button{
    margin-top: 20px;
}

#uf{
    text-transform: uppercase;
}