<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>CadLocador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="form">

    <ion-item>
      <ion-label position="floating">Nome*</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">telefone*</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Data de Nascimento*</ion-label>
      <ion-input type="date" required="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">email*</ion-label>

      <ion-input type="text" required="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Fone*</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">sexo*</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Renda Mensal*</ion-label>
      <ion-input type="number" required="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Nome do Fiador*</ion-label>
      <ion-input type="text" required="true"></ion-input>
    </ion-item>
  
    <ion-button expand="block" type="submit">Cadastrar</ion-button>
  </div>


</ion-content>
